.container-2 {
  width: 100vw;
}

#main-heading {
  text-align: center;
}

.centered-heading {
  text-align: center;
  text-decoration: underline;
}
.habit-button-container {
  width: 100%;
  padding: 15px 0;
  background-color: #f8f9fa; /* Adjust background color as needed */
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for visual effect */
  z-index: 1000; /* Ensure the button is above other content */
}

.habit-button-container button {
  width: 200px; /* Adjust width as needed */
}

#noHabitText {
  color: rgb(16, 133, 151);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 30px;
}



