/* Add your CSS styles here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}

.navbar-custom {
  background-color: #333;
  color: white;
}

.txt-clr-white {
  color: white;
}

.txt-clr-white:hover {
  color: crimson;
}

a {
  color: inherit; /* Use the color defined by the parent element */
  text-decoration: none; /* Remove underline */
}

a:hover,
a:active,
a:focus {
  color: inherit; /* Use the color defined by the parent element */
  text-decoration: none; /* Remove underline */
  outline: none; /* Remove outline when focused */
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow-x: hidden;
}
.container-1 h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}
.container-1 p {
  margin-bottom: 2rem;
}
.container-1 a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
}


@media (max-width:992px){
  .container-fluid button{
    background-color: #fff;
  }
}





