<main class="container-1">
  
  <section>
    <h2>Track Your Habits</h2>
    <p>
      Easily track your daily habits and see your progress over time. Set goals
      and reminders to help you stay on track.
    </p>
    <a href="/habits/gethabitpage">Get Started</a>
  </section>
</main>
